# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/
build/

# Local Environment Variables & Secrets
.env
.env.local

# Database & Uploaded Media
*.db
*.sqlite
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# IDE & System files
.DS_Store
.vscode/
.idea/

# Test scripts
test.js
test_db.js
